!!! XHTML
%html
  %head
    %title= @title
    :javascript
      var app_root = "#{app_root}";
    %script{:type => 'text/javascript', :src => "#{app_root}/js/jquery.js"}
    %script{:type => 'text/javascript', :src => "#{app_root}/js/main.js"}
  %body
    %div#content
      %div#head
        %h1= @title
      %div#main
        %input{:id => 'message', :type => :text, :size => 60, :value => 'hello'}
        %input{:id => 'btn_send', :type => :button, :value => 'send!'}
        %ul#log
      %hr
      %div#api
        %h2 API
        %ul
          %li
            POST
            %ul
              %li HTTP-POST
              %li curl -d 'message=hello' '#{app_root}'
          %li
            LIST
            %ul
              %li HTTP-GET
              - ["#{app_root}/rss", "#{app_root}/json"].each do |url|
                %li
                  %a{:href => url}= url
          %li
            SEARCH
            %ul
              %li HTTP-GET
              - ["#{app_root}/search/hello.rss", "#{app_root}/search/hello.json"].each do |url|
                %li
                  %a{:href => url}= url
      %hr
      %div#foot
        %div
          source code : 
          - @src_url = 'https://github.com/shokai/notify-server'
          %a{:href => @src_url} #{@src_url}
